<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
      <title>Page de profil - Episodes</title>
      <!-- Slider header -->
      <link rel="stylesheet" href="cssslider_files/csss_engine1/style.css">
      <!-- Favicon -->
      <link rel="icon" href="images/logo_icon.png" type="image/png">
      <!-- Hover.css -->
      <link rel="stylesheet" href="Hover-master/css/hover.css">
      <!--  CSS -->
      <link rel="stylesheet" type="text/css" href="css/normalize.css">
      <link rel="stylesheet" type="text/css" href="css/accueil.css">
      <link rel="stylesheet" type="text/css" href="css/connect.css">
      <link rel="stylesheet" type="text/css" href="css/form-topic.css">
      <!-- Font -->
       <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="font-awesome-4.3.0/css/font-awesome.css">
      <!-- Jquery -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!--[if IE]>
      <script type="text/javascript" src="js/modernizr.custom.78869.js"></script>
      <![endif]-->
      <title>Profil Page</title>
</head>
   <body>
   <div class="container">      
      {% if profil.avatar %}
         <div class="pp_liste">
            <img src="{{profil.avatar}}" alt="user">
         </div>         
      {% else %}
         <div class="pp_user ">
            <img src="../images/user.png" alt="user" style="left:inherit">
         </div>
      {% endif  %}
            
      <h3>{{profil.pseudo}}</h3>
         <ul id="menu_profil">
            <li class="onglet active">
               <a href="profil_page.php?id={{profil.id}}">
                  <h4>Topics: </h4>
               </a>
            </li>
            <li class="onglet">
               <a href="messages_user.php?id={{profil.id}}">
                  <h4>Derniers messages:</h4>
               </a>
            </li>
         </ul>

      {% for topic in topicsUser %}
      {% if topic in topicsUser %}
         <ul class="result">
            <li><a href="topic.php?id={{topic.id}}">{{topic.title}}</a></li>
            <span class="date">{{topic.creation}}</span> 
         </ul>
      {% else %}
            <p>Pas de topics</p>
      {% endif %}
      {% endfor %}
   </div>    
</body> 
</html>