<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/001mo.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="font-awesome-4.3.0/css/font-awesome.css">
	<!--[if IE]>
    <script type="text/javascript" src="js/modernizr.custom.78869.js">
    </script>
<![endif]-->
</head>
<body>

	{% include 'template/header.html' %}

	<div class="container">
        <h2 id="error">Erreur 404</h2> 
    	<div class="img_container">
        	<script type="text/javascript" src="js/img_random.js"></script>
    </div>
                  
    	<h3>Saviez vous que...</h3><p>Les chercheurs, excédés d’aller sans cesse relancer le serveur défaillant installé dans le bureau n°404, aient attribué ce numéro d’erreur au défaut de connexion, en souvenir de cette pièce maudite.</p> 

    	</div>
 
</body>
</html>

</body>
</html>