<!DOCTYPE html>
<html lang="fr">
   <head>
      <title>{{topic.title}} - Episodes</title>
      <!-- Slider header -->
      <link rel="stylesheet" href="css/cssslider_files/csss_engine1/style.css">
      <!-- Favicon -->
      <link rel="icon" href="images/logo_icon.png" type="image/png">
      <!-- Hover.css -->
      <link rel="stylesheet" href="css/Hover-master/css/hover.css">
      <!--  CSS -->
      <link rel="stylesheet" type="text/css" href="css/normalize.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Font -->
       <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/font-awesome-4.3.0/css/font-awesome.css">
      <!-- Jquery -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!--[if IE]>
      <script type="text/javascript" src="js/modernizr.custom.78869.js"></script>
      <![endif]-->

   </head>

   <body>
{% include 'header.html' %}
     

      <div class="head_post">
         <h2>{{ profil.pseudo }}</h2>
            
<a href="https://twitter.com/share" class="twitter-share-button" data-via="Episodes" data-lang="fr" data-count="none">Tweeter</a>

         <a href="profil_page.php?id={{auteurTopic}}">
            <p class="creator">{{ auteurTopic }}</p>
         </a>
         <span class="creation">{{ topic.creation }}</span> 
      </div>


      <div class="post_first" >
         <p>{{ topic.description }}</p>
      </div>

      

      <div class="message">

         
         {% for message in messages %}

         <div class="post">
                  <h4>{{ profil.pseudo }}</h4>

                   <div class="dd">
                     
                  <img src="{{profil.avatar}}" alt="user">
               </div>
              <div class="txt">
            <p> {{message.message}}</p>
            <span class="date date_message">{{message.creation}}</span> 

              </div>
                        </div>

                        {% endfor %}

      </div>
      <h2>Répondre</h2>
      <form id="reponse" action="message.php?id=<?=$_GET['id']?>" method="post">
         <textarea name="message" id="message" cols="30" rows="10"></textarea>
         <input type="submit">
      </form>
 


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  <script type="text/javascript">
         $(function(){
         
            $('.icon').click(function(e){
               $('.profil_nav').toggle(400);
                  e.stopPropagation();
               });
         });
         
               $(function(e){
                  $('#btn').click(function(){
                     $('#menu').toggle(400);
                  }); 
               });
         
      </script>

   </body>
</html>